.chat {
	flex: 0.65;
	display: flex;
	flex-direction: column;
}
.chat-header {
	padding: 20px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid lightgray;
}
.chat-header-info {
	flex: 1;
	padding-left: 20px;
}
.chat-header-info h3 {
	margin-bottom: 3px;
	font-weight: 500;
}
.chat-header-info p {
	color: gray;
}
.chat-header-right {
	display: flex;
	justify-content: center;
	min-width: 100px;
}
.chat-body {
	flex: 1;
	background-color: rgb(231, 200, 190);
	padding: 20px;
	overflow: scroll;
}
.chat-body .message {
	margin-bottom: 20px;
	background: white;
	width: fit-content;
	padding: 10px;
	border-radius: 10px;
	position: relative;
	display: flex;
}
.message .name {
	position: absolute;
	top: -15px;
	left: 5px;
	font-weight: 800;
	font-size: x-small;
}
.message .time-stamp {
	margin-left: 10px;
	right: 5px;
	font-size: xx-small;
	margin-top: auto;
}
.chat-body .message.receiver {
	background-color: green;
	margin-left: auto;
}
.chat-footer {
	display: flex;
	padding: 10px;
	align-items: center;
}
.chat-footer form {
	display: flex;
}
.chat-footer form,
.chat-footer form input {
	flex: 1;
}
.chat-footer input {
	margin-left: 5px;
	padding: 6px;
	border-radius: 15px;
	border: none;
	background-color: white;
	font-size: 15px;
}
.chat-footer .MuiSvgIcon-root {
	color: lightgray;
}
.chat-footer button {
	display: none;
}
