.App {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: rgb(199, 194, 194);
}
.app-content {
	display: flex;
	width: 90vw;
	height: 90vh;
	background-color: rgb(236, 236, 236);
	box-shadow: -1px 4px 20px -6px black;
}
